<!DOCTYPE html>
<html>


<head>
    <title>Page Title</title>
    <link rel="icon" type="image/x-icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxsa6Bi3ZEuSNlEpOJv9nu_HRNqCKMUAoGxasmY1kuvbmIgKy6csAGQ2Hfolit1f4LQs&usqp=CAU"">


    <meta charset=" utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="desktop">
        <!-- header  -->
        <header
            class="d-flex sticky-top border-bottom  p-2 flex-wrap align-items-center justify-content-center  justify-content-md-between py-3 ">
            <a style="padding-top: 0px;" href="#" class="d-flex align-items-center col-md-3  text-decoration-none">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxsa6Bi3ZEuSNlEpOJv9nu_HRNqCKMUAoGxasmY1kuvbmIgKy6csAGQ2Hfolit1f4LQs&usqp=CAU"
                    height="50px" width="80px">
            </a>

            <ul class="nav col-12 col-md-auto justify-content-center">
                <li><a href="#" class="nav-link px-2  "><i class="fa fa-home" aria-hidden="true"></i>
                        Home</a></li>

                <li><a href="#" class="nav-link   px-2"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        News</a></li>

                <li><a href="#" class="nav-link   px-2"><i class="fa fa-book" aria-hidden="true"></i>
                        E-Library</a></li>


                <li><a href="#" class="nav-link   px-2 "><i class="fa fa-refresh" aria-hidden="true"></i>
                        Convertors
                    </a></li>

                <!-- About DropDown -->
                <!-- <li class="nav-item dropdown">
            <a class="nav-link px-2   dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                About
            </a>
            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item  border-bottom" href="#">History</a></li>
                <li><a class="dropdown-item border-bottom" href="#">Founder </a></li>
                <li><a class="dropdown-item border-bottom" href="#">Core Values</a></li>
                <li><a class="dropdown-item border-bottom" href="#">Vision</a></li>
                <li><a class="dropdown-item " href="#">Administration</a></li>
            </ul>
        </li> -->
                <!-- End of About DropDown -->
            </ul>


            <div class="col-md-3 text-end">
                <ul class="nav col-12 justify-content-center m-0">

                    <!-- <button type="button " class="btn btn-primary rounded-3 mt-1"
                    style="height: 40px; width: 70px;">Login</button>
                <pre>  </pre>
                <button type="button " class="btn btn-primary rounded-5 mt-1"
                    style="height: 40px; width: 90px;">Sign-up</button> -->
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>

                    <div>
                        <ul>
                            <li>
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div>
                                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                                            width="35" height="35" class="rounded-circle">
                                    </div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Add Blog</a>
                                    <a class="dropdown-item" href="#">Edit Profile</a>
                                    <a class="dropdown-item" href="#">Log Out</a>
                                    <div class="flex-container">
                                        <h6 style="margin-left: 5px;">Too bright?</h6>
                                        <button class="toggle " style=" width:30px;
                                    height:20px; margin-left: 5px; top:10px;" id="toggle"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>
        </header>
        <!-- End Of Header -->


        <div class=" container" style='width:60%; margin: auto; '>
            <div class="container">
                <section class="section_all" id="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section_title_all text-center">
                                    <h3 class="font-weight-bold">Welcome To <span class="text-custom">Lorem Ipsum</span>
                                    </h3>
                                    <p class="section_subtitle mx-auto text-muted">Lorem Ipsum is simply dummy text of
                                        the printing and typesetting industry. <br />Lorem Ipsum has been the industry's
                                        standard dummy text.</p>
                                    <div class="">
                                        <i class=""></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row vertical_content_manage mt-5">
                            <div class="col-lg-6">
                                <div class="about_header_main mt-3">
                                    <div class="about_icon_box">
                                        <p class="text_custom font-weight-bold">Lorem Ipsum is simply dummy text</p>
                                    </div>
                                    <h4 class="about_heading text-capitalize font-weight-bold mt-4">Lorem Ipsum is
                                        simply dummy text of the printing industry.</h4>
                                    <p class="text-muted mt-3">Contrary to popular belief, Lorem Ipsum is not simply
                                        random text. It has roots in a piece of classical Latin literature from 45 BC,
                                        making it over 2000 years old.</p>

                                    <p class="text-muted mt-3"> Richard McClintock, a Latin professor at Hampden-Sydney
                                        College in Virginia, looked up one of the more obscure Latin words, consectetur,
                                        from a Lorem Ipsum passage.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="img_about mt-3">
                                    <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt=""
                                        class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <div class="about_content_box_all mt-3">
                                    <div class="about_detail text-center">
                                        <div class="about_icon">
                                            <i class="bi bi-lightbulb"></i>
                                        </div>
                                        <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                                        <p class="edu_desc mt-3 mb-0 text-muted">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="about_content_box_all mt-3">
                                    <div class="about_detail text-center">
                                        <div class="about_icon">
                                            <i class="bi bi-hand-thumbs-up"></i>
                                        </div>
                                        <h5 class="text-dark text-capitalize mt-3 font-weight-bold">We make Best Result
                                        </h5>
                                        <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="about_content_box_all mt-3">
                                    <div class="about_detail text-center">
                                        <div class="about_icon">
                                            <i class="bi bi-telegram"></i>
                                        </div>
                                        <h5 class="text-dark text-capitalize mt-3 font-weight-bold">best platform </h5>
                                        <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="cards-list">

                <div class="card-about 1">
                    <div class="card_image"> <img src="https://avatars.githubusercontent.com/u/49051049?v=4" /> </div>
                    <div class="card_title title-white">
                        <p>Owusu Kenneth</p>
                        <div class="card_words title-white">
                            <p>Web Developer<br>
                                <a href="#">
                                    <i" class="fa fa-facebook-f text-light"></i>
                                </a>
                                <a href="#"><i class="fa fa-twitter text-light"></i></a>
                                <a href="#"><i class="fa fa-linkedin text-light"></i></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-about 2">
                    <div class="card_image">
                        <img   

                            src="https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg" />
                    </div>
                    <div class="card_title title-white">
                        <p>Boateng Isaac</p>
                        <div class="card_words title-white">
                            <p>Web Developer<br>
                                <a href="#">
                                    <i" class="fa fa-facebook-f text-light"></i>
                                </a>
                                <a href="#"><i class="fa fa-twitter text-light"></i></a>
                                <a href="#"><i class="fa fa-linkedin text-light"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>


<script>

    const toggle = document.getElementById("toggle"),
        circle = document.querySelector(".circle"),
        body = document.querySelector("body");
    let span = document.getElementById("shift");
    let theme = "bright";

    // Helper function for setting theme parameters
    // "params" needs to be written like object {"key1": "value1", "key2": "value2", ...}
    function setStyles(element, params) {
        for (let i in params) {
            element.style.setProperty(i, params[i]);
        }
    }

    // Main logic
    function themeChange() {
        theme = theme === "bright" ? "dark" : "bright";
        document.querySelector("h6").textContent = `Too ${theme}?`;

        if (theme === "bright") {
            setStyles(body, { "--background": "#FBFFF1", "--text": "#3C3744", "--accent": "#F49F6E" });

            toggle.classList.remove("clicked");
            circle.classList.remove("clicked");
            span.textContent = `brighter and darker.`;

        } else {
            setStyles(body, { "--background": "#3C3744", "--text": "#FBFFF1", "--accent": "#C41E3D" });

            toggle.classList.add("clicked");
            circle.classList.add("clicked");
            span.textContent = `darker and brighter.`;
        }
    }

    // Event listener for toggle button click
    toggle.addEventListener("click", themeChange);
</script>

<script>
    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    if (isMobile) {
        document.getElementById('mobile').style.visibility = "visible";
        document.getElementById('desktop').style.visibility = "hidden";
    }
    else {
        document.getElementById('mobile').style.visibility = "hidden";
        document.getElementById('desktop').style.visibility = "visible";
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh2U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>