{% extends "base.html" %}



{% block content %}

<h4 class="text-center">USER PROFILE </h4>

<!-- Container -->
<section>
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4" style="position: relative;">
                <div class="card mb-4">
                    <div class="card-body text-center" style="background-color: white;">

                        {% if page_user.profile_picture.url %}
                        <img src="{{page_user.profile_picture.url}}" alt="avatar"
                            class="rounded-circle img-fluid profile_pic" style="width: 150px; height: 150px;">
                        {% else %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxsa6Bi3ZEuSNlEpOJv9nu_HRNqCKMUAoGxasmY1kuvbmIgKy6csAGQ2Hfolit1f4LQs&usqp=CAU"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                        {% endif %}


                        <h4 class="my-3">{{page_user.user.first_name|title}} {{page_user.user.last_name|title}}</h4>
                        <p class="text-muted mb-1">{{page_user.user.profile.work|title}}</p>
                        <p class="text-muted mb-4">{{page_user.user.profile.work_address|title}}</p>
                    </div>
                    <div class="text-center mt-0">
                        {% if user.is_authenticated %}
                        {% if user.id == profile.user.id %}
                        <a class="btn btn-outline-dark rounded-pill mb-2" style="width:40%;"
                            href="{% url 'edit_profile' pk=page_user.id %}">Update Profile</a>
                        <a class="btn btn-outline-dark rounded-pill mb-2" style="width:40%;"
                            href="{% url 'addblog'  %}">Add Blog</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <h5><span>Send Mail</span></h5>
                <div class=" mb-4 mb-lg-0" style="background-color: white;">
                    <div class="card-body p-0">
                        <form id="contact-form" method="POST" role="form" action="{% url 'send' page_user.id %}"
                            style="margin:0px 0px 0px 0px;">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control mb-3 mt-3" id="name" type="text" name="name"
                                    placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input class="form-control mb-3" id="email" type="email" name="email"
                                    placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control mb-3 mt-3" id="subject" type="text" name="subject"
                                    placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea style="width:100%" class="form-control mb-3" id="message" name="message"
                                    placeholder="Message"></textarea>
                            </div>

                            <input class="btn btn-outline-dark mb-3" type="submit" value="Send" />
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body" style="background-color: white;">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{page_user.user.first_name |title}}
                                    {{page_user.user.last_name |title}}
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{page_user.user.email}}</p>
                            </div>
                        </div>
                        <hr>
                        {% if page_user.user.profile.telephone %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{page_user.user.profile.telephone}}</p>
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% if page_user.user.profile.address %}

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{page_user.user.profile.address|title }}</p>
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% if page_user.user.profile.skill_one or page_user.user.profile.skill_two or page_user.user.profile.skill_three %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Skills</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if page_user.user.profile.skill_one %}
                                    {{ page_user.user.profile.skill_one }}
                                    {% endif %}
                                    {% if page_user.user.profile.skill_two %}
                                    | {{ page_user.user.profile.skill_two }}
                                    {% endif %}
                                    {% if page_user.user.profile.skill_three %}
                                    | {{ page_user.user.profile.skill_three }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% if page_user.user.profile.highest_education %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Highest Education</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ page_user.user.profile.highest_education }}</p>
                            </div>
                        </div>
                        <hr>

                        {% if page_user.user.profile.programme_majored %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Programme Majored</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ page_user.user.profile.programme_majored }}</p>
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Social</p>
                            </div>
                            <div class="col-sm-9 row">
                                <div style="display: flex;" class="row">
                                    {% if page_user.user.profile.personal_website_link %}
                                    <a href="{{page_user.user.profile.personal_website_link}}"
                                        style=" font-size: large; text-decoration: none; "
                                        class="fa fa-internet-explorer fa-large btn btn-outline-dark rounded-pill col-5 col-lg-3" aria-hidden="true"> Website</a>
                                    {% endif %}
                                    {% if page_user.user.profile.whatsapp_number %}
                                    <a href="https://web.whatsapp.com/send?phone={{page_user.user.profile.whatsapp_number}}&amp;text="
                                        data-number="{{page_user.user.profile.whatsapp_number}}"
                                        style=" font-size: large; text-decoration: none;"
                                        class="fa fa-whatsapp fa-large btn btn-outline-dark rounded-pill col-5 col-lg-3" aria-hidden="true"> WhatsApp
                                    </a>
                                    {% endif %}
                                    {% if page_user.user.profile.facebook_link %}
                                    <a href="{{page_user.user.profile.facebook_link}}"
                                        style=" font-size: large; text-decoration: none;"
                                        class="fa fa-facebook-square fa-large btn btn-outline-dark rounded-pill col-5 col-lg-3" aria-hidden="true"> Facebook</a>
                                    {% endif %}
                                    {% if page_user.user.profile.twitter_link %}
                                    <a href="{{page_user.user.profile.twitter_link}}"
                                        style="font-size: large; text-decoration: none;"
                                        class="fa fa-twitter fa-large btn btn-outline-dark rounded-pill col-5 col-lg-3" aria-hidden="true"> Twitter</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {% if page_user.user.profile.bio %}
                <h5><span>Bio</span></h5>

                <div class=" mb-4 mb-lg-0 border-start border-end border-bottom "
                    style="background-color: white; font-family:sans-serif">
                    <div class="card-body p-0 m-2 text-justify text-muted">
                        {{page_user.user.profile.bio}}
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
    </div>
</section>

<h5><span>Articles</span></h5>
{% for blog in page_user.user.blog_set.all %}
<div class="blog-card box" data-aos="fade-right">
    <div class="meta">
        <div class="photo" style="background-image: url( {{blog.header_image.url}} )"></div>
        <ul class="details">
            <li class="author"><a href="#">{{page_user.user.first_name|title}} {{page_user.user.last_name|title}}</a>
            </li>
            <li class="date"> {{ blog.blog_datePosted }}</li>
            <li class="date"> {{blog.blog_readTime }} mins read </li>
            <li class="tags">
                {{blog.blog_category }}
            </li>
        </ul>
    </div>
    <div class="description">
        <h1>{{ blog.blog_title|title }}</h1>
        <!-- <h2>Opening a door to the future</h2> -->
        <p>{{ blog.blog_description|title }}</p>
        <p class="read-more">
            <a href="#">Read More</a>
        </p>
    </div>
</div>
{% endfor %}



<style>
    .profile_pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h5 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

    h5 span {
        background: #fff;
        padding: 0 10px;
    }

    /*PEN STYLES*/
    * {
        box-sizing: border-box;
    }

    .blog-card {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
        margin-bottom: 1.6%;
        background: #fff;
        line-height: 1.4;
        font-family: sans-serif;
        border-radius: 5px;
        overflow: hidden;
        z-index: 0;
    }

    .blog-card a {
        color: inherit;
    }

    .blog-card a:hover {
        color: black;
    }

    .blog-card:hover .photo {
        transform: scale(1.3) rotate(3deg);
    }

    .blog-card .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }

    .blog-card .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform 0.2s;
    }

    .blog-card .details,
    .blog-card .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .blog-card .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left 0.2s;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: 0.9rem;
    }

    .blog-card .details a {
        text-decoration: dotted underline;
    }

    .blog-card .details ul li {
        display: inline-block;
    }

    .blog-card .details .author:before {
        font-family: FontAwesome;
        margin-right: 10px;
        content: "\f007";
    }

    .blog-card .details .date:before {
        font-family: FontAwesome;
        margin-right: 10px;
        content: "\f133";
    }

    .blog-card .details .tags ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
    }

    .blog-card .details .tags li {
        margin-right: 2px;
    }

    .blog-card .details .tags li:first-child {
        margin-left: -4px;
    }

    .blog-card .description {
        padding: 1rem;
        background: #fff;
        position: relative;
        z-index: 1;
    }

    .blog-card .description h1,
    .blog-card .description h2 {
        font-family: Poppins, sans-serif;
    }

    .blog-card .description h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
    }

    .blog-card .description h2 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #a2a2a2;
        margin-top: 5px;
    }

    .blog-card .description .read-more {
        text-align: right;
    }

    .blog-card .description .read-more a {
        color: black;
        display: inline-block;
        position: relative;
    }

    .blog-card .description .read-more a:after {
        content: "\f061";
        font-family: FontAwesome;
        margin-left: -10px;
        opacity: 0;
        vertical-align: middle;
        transition: margin 0.3s, opacity 0.3s;
    }

    .blog-card .description .read-more a:hover:after {
        margin-left: 5px;
        opacity: 1;
    }

    .blog-card p {
        position: relative;
        margin: 1rem 0 0;
    }

    .blog-card p:first-of-type {
        margin-top: 1.25rem;
    }

    .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: black;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
    }

    .blog-card:hover .details {
        left: 0%;
    }

    @media (min-width: 640px) {
        .blog-card {
            flex-direction: row;
            max-width: 700px;
        }

        .blog-card .meta {
            flex-basis: 40%;
            height: auto;
        }

        .blog-card .description {
            flex-basis: 60%;
        }

        .blog-card .description:before {
            transform: skewX(-3deg);
            content: "";
            background: #fff;
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
        }

        .blog-card.alt {
            flex-direction: row-reverse;
        }

        .blog-card.alt .description:before {
            left: inherit;
            right: -10px;
            transform: skew(3deg);
        }

        .blog-card.alt .details {
            padding-left: 25px;
        }
       
    }

    
</style>
{% endblock content %}

{% block script %}
<script>
    const boxes = document.querySelectorAll(".box");

    window.addEventListener("scroll", checkBoxes);

    checkBoxes();

    function checkBoxes() {
        const triggerBottom = (window.innerHeight / 5) * 4;

        boxes.forEach((box) => {
            const boxTop = box.getBoundingClientRect().top;

            if (boxTop < triggerBottom) {
                box.classList.add("show");
            } else {
                box.classList.remove("show");
            }
        });
    }

</script>
{% endblock script %}

<!-- {% for blog in page_user.user.blog_set.all %}

            <a href="#" style="text-decoration: none;">
                <div class="flex-card mb-3">
                    <div class="flex-card-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxsa6Bi3ZEuSNlEpOJv9nu_HRNqCKMUAoGxasmY1kuvbmIgKy6csAGQ2Hfolit1f4LQs&usqp=CAU"
                            alt="Girl in a jacket">
                    </div>
                    <div style="width:100%">
                        <button type="button" class="btn-sample flex-container" style="margin-left: 1%; ">
                            <img src="https://pickaface.net/gallery/avatar/justin.enyimbil540792ee842f4.png"
                                width="20" height="25" position="fixed"
                                class="rounded-circle m-auto flex-item-image">
                            <font face="Segoe UI" size="3px" class="mt-1"> {{page_user.user.first_name}} {{page_user.user.last_name}}
                            </font>
                        </button>

                        <p style="text-align: left; font-size:21px; ">
                            <b>{{ blog.blog_title }}</b>
                        </p>
                        </p>

                        <div class="btn-group align-items-start" role="group" aria-label="Basic example">
                            <p class="mt-1" style="text-align: left; font-size: 14px;   margin-right: 10px;">
                                {{ blog.blog_datePosted }} .</p>

                            <p class="mt-1" style="text-align: left; font-size: 14px;   margin-right: 10px;">
                               {{blog.blog_readTime }}mins read .</p>
                            <button type="button" class="btn btn-secondary rounded-pill " style="height: 25px;">
                                <p class="" style="text-align: left; font-size: 11px;  color:white; ">
                                    Technology</p>
                            </button>
                        </div>
                    </div>
                </div>

            </a>
            <!-- for loops ends right about here 
            {% endfor %} -->