{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Update Settings .......</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
<a class="btn btn-outline-dark rounded-pill" style="width: 60%;" href="{% url 'password_change' %}">Change Password</a>
<button type="submit" style="width: 30%;" class="btn btn-dark rounded-pill">Update</button>
</form>

</div>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
  
    :root {
      --bodybg: #dcdefe;
      --primary-color: #5138ee;
      --grey: #d6d6d6;
      --placeholder: #969696;
      --white: #fff;
      --text: #333;
      --slider-bg: #eff3ff;
      --login-cta-hover: #1f0098;
    }
  
    #id_password {
      visibility: hidden;
      display: none;
  }

  .helptext {
      visibility: hidden;
      display: none;
  }

  label[for="id_password"] {
      display: none;}

      @media only screen and (min-width: 799px) {
        .container {
           width: 50rem;
        }
     }
  
     @media only screen and (max-width: 500px) {
        .container {
           width: 90%;
        }
     }
  
     .container input:focus {
        outline: none;
        border: 1px solid var(--primary-color);
     }
  
     .container input {
        padding: 13px 20px;
        box-sizing: border-box;
        border: 1px solid var(--grey);
        border-radius: 50px;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: var(--text);
        transition: linear 0.2s;
     }
  
     .container input ::-webkit-input-placeholder {
        color: var(--placeholder);
        font-weight: 300;
        font-size: 14px;
     }
  
     .form-control:focus {
        box-shadow: none;
     }
    
  </style>

{% endblock content %}